$background-color : #222;
$foreground-color:#fff;
$general-margin:5px;
$topHeight:50px;

.App {
  text-align: center;
}

.App-header {
  height: $topHeight;
  margin:$general-margin;
}
.App-footer {
  margin:$general-margin;
}

.Containerdiv{
  height:100%;
}
.Display-None{
  display:none;
}
.Text-Area{
  width:100%;
  height:99%;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: 20px;
}