.App {
  text-align: center; }

.App-header {
  height: 50px;
  margin: 5px; }

.App-footer {
  margin: 5px; }

.Containerdiv {
  height: 100%; }

.Display-None {
  display: none; }

.Text-Area {
  width: 100%;
  height: 99%;
  font-family: 'Courier New';
  font-weight: bold;
  font-size: 20px; }
